<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSS Lyout Demo</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="container">

      <header>
        <nav>
          <a href="#">Home</a>
          <a href="#">FAQ</a>
          <a href="#">Contact</a>
        </nav>

        <h1>TITLE</h1>
      </header>

      <main>
        <h2>Content goes here</h2>
        <img src="http://www.placepuppy.net/400/600"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </main>
      <aside>
      <h3>Fun Facts</h3>
        <ul>
          <li>Samoyed</li>
          <li>Corgi</li>
          <li>Husky</li>
          <li>Golden Retriever</li>
        </ul>
      </aside>

      <nav>
        <ul>
          <li class="hotdogs"><a href="" class="clickme"></a></li>
          <li class="hotdogs"><a href="" class="clickme"></a></li>
          <li class="hotdogs"><a href="" class="clickme"></a></li>
          <li class="hotdogs"><a href="" class="clickme"></a></li>
          <li class="hotdogs"><a href="" class="clickme"></a></li>
        </ul>
      </nav>


      </main>

      <footer></footer>

    </div>
    <!-- END OF CONTAINER DIV -->
  </body>
</html>
